#
#
# Should be placed in ~/ for the user
#
# Example ConfigDB file
# DB=<Database>        Default nacconfig
# PORT=<port#>         Default 3306
# HOST=<host>          Default localhost
# USER=<db user name>  Default nacconfig
# PASS=<db password>   Default nacconfig
#
#

PASS=password


